* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dash-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.graph1 {
  background-color: #eaeaea;
  width: 90%;
  height: 35vh;
  margin: 10px;
  padding: 5px;
}

.graph {
  background-color: #eaeaea;
  width: 45%;
  height: 35vh;
  margin: 10px;
  padding: 5px;
}

/* Header */
.container {
  width: 90%;
  margin: auto;
}
.header {
  background-color: #232323;
  height: 70px;
  border-bottom: 3px solid green;
  margin-bottom: 15px;
}

.header h1 {
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 25px;
}
